.App {
  height: 1000px;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-autoComplete {
}

.App-errorMessage {
  font-weight: bolder;
  font-size: 10px;
  height: 100px;
}

.App-imageGrid {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
